<!--<div class="col-lg-12">
  <div class="col-lg-4">
    <div id="Logo">
      <a href="#"><img src="" alt="LOGO"></a>
    </div>
  </div>
  <div class="col-lg-4">
    <div id="Siguenos">
      <table>
        <thead>
          <th></th>
          <th>SIGUENOS</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>Facebook</td>
            <td>Instagram</td>
            <td>Twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="como_llegar">
      <a href="https://www.google.es/maps/place/Chumi+Churri+Sabadell/@41.5559819,2.0948663,17z/data=!3m1!4b1!4m5!3m4!1s0x12a494e5e973ae33:0x51246798c81ba32a!8m2!3d41.5559819!4d2.097055" target="_blank">
        <div class="icono"><img src=""></div>
        <div class="texto_como_llegar">¿COMO LLEGAR?</div>
      </a>
    </div>
  </div>
</div>
-->