

.formu{
    background-color: #FFE482 ;
    border-color: #EBDFA2;
}

.form-control:hover{
    border-color: #EBDFA2 !important;
}

.botones{
    background-color: black !important;
    color: #FFE482;
    border-radius: 5px;
    text-decoration: none;
}

.panel-title{
    color: black !important;
}

.tabla th{
    text-align: center;
}
.tabla td{
    text-align: center;
}

.containter{
    margin-left:6%;
}

.row{
    margin-right: 0%;
}