<div class="container">
  <div class="row">
    <div class="col-md-12 control">
      <div style="padding-top:15px; padding-left:5%; padding-right:5% ">
        <h1 id="tituloPagina"><b>Nuestra Carta</b></h1>
        <label id="Descripcion"><i>A continuación, podrán averiguar la nueva experiencia gastronómica que ofrece nuestro icónico
        restaurante Chumy Churry. Podrá degustar desde la comida más típica mediterránea como las delicias mexicanas siempre 
        elaboradas y preparadas por nuestros expertos cocineros tanto en gastronomía mediterránea como en gastronómica mexicana.
      </i></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Pica Pica</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="padding-top:15px" class="panel-body">
            <div class="alimento">
              <span>Chorizos del Infierno Picante</span>
            </div>
            <div class="alimento">
              <span>Esparragos Trigueros a la Planxa</span>
            </div>
            <div class="alimento">
              <span>Butifarra con Cebolla y salsa Picante</span>
            </div>
            <div class="alimento">
              <span>Calamares a la Andaluza con Mayonesa</span>
            </div>
            <div class="alimento">
              <span>Alitas de Pollo Adobadas</span>
              <span style="font-size:75%"> ( con salsa Barbacoa )</span>
            </div>
            <div class="alimento">
              <span>Jalapeños Rellenos de Queso</span>
              <span style="font-size:75%"> ( con salsa Barbacoa o salsa Brava )</span>
            </div>
            <div class="alimento">
              <span>Aros de Cebolla</span>
              <span style="font-size:75%"> ( con salsa Barbacoa )</span>
            </div>
            <div class="alimento">
              <span>Pimientos del Patron</span>
            </div>
            <div class="alimento">
              <span>Tiras de Pollo Rebozadas</span>
              <span style="font-size:75%"> ( con 2 salsas a Elegir )</span>            
            </div>
            <div class="alimento">
              <span>Nuguets de Pollo</span>
              <span style="font-size:75%"> ( con salsa Barbacoa )</span>
            </div>
            <div class="alimento">
              <span>Plato de Jamon Serrano</span>
              <span style="font-size:75%"> ( con Pan con Tomate )</span>
            </div>
            <div class="alimento">
              <span>Taquitos de Queso con Aceite de Oliva</span>
            </div>
            <div class="alimento">
              <span>Pinchos al Plato</span>
            </div>
            <div class="alimento">
              <span>Taquitos de Solomillo a la Plancha</span>
              <span style="font-size:75%"> ( con Pan con Tomate )</span>
            </div>
            <div class="alimento">
              <span>Racion de Patatas Fritas</span>
              <span style="font-size: 75% "> *Se puede añadir cualquier salsa por un pequeño suplemento</span>
            </div>
            <div class="alimento">
              <span>Plato de Jamon Iberico</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Ensaladas</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="margin-bottom: 25px" class="input-group">
            <div class="alimento">
              <span>De aguacate</span>
              <span style="font-size: 75%"> ( Langostinos , Tomate, Cebolla, Maiz Dulce, Pimiento Verde, Aguacate con
                Vinagreta ) </span>
            </div>
            <div class="alimento">
              <span>Griega</span>
              <span style="font-size: 75%"> ( Tomate, Queso feta y Oregano ) </span>
            </div>
            <div class="alimento">
              <span>Tropical</span>
              <span style="font-size: 75%"> ( Lechuga, Piña, Maiz Dulce, Langostinos, Patas de Cangrejo, Jamon York, Salsa
                Rosa ) </span>
            </div>
            <div class="alimento">
              <span>De Pasta</span>
              <span style="font-size: 75%"> ( Rizados tricolor, Bonito, Queso, Jamon York, Lechuga y salsa tàrtara ) </span>
            </div>
            <div class="alimento">
              <span>Cesar</span>
              <span style="font-size: 75%"> ( Lechuga, Pollo, Queso Rallado, Pan tostado y salsa mostaza ) </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Pan de Coca</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="margin-bottom: 25px" class="input-group">
            <div class="alimento">
              <span>Coca de york y Queso</span>
            </div>
            <div class="alimento">
              <span>Coca de york y Roquefort</span>
            </div>
            <div class="alimento">
              <span>Coca Vegetal</span>
              <span style="font-size:75%"> ( Pimiento rojo, Cebolla, Esparrago verde, Queso y Berenjena)</span>
            </div>
            <div class="alimento">
              <span>Coca Pesto</span>
              <span style="font-size:75%"> ( Esparrago blanco, Bacon, Queso y Pestò)</span>
            </div>
            <div class="alimento">
              <span>Coca de Pollo</span>
              <span style="font-size:75%"> ( Cebolla y Queso)</span>
            </div>
            <div class="alimento">
              <span>Coca de Jamon Iberico con Pan con Tomate</span>
            </div>
            <div class="alimento">
              <span>Coca de Queso de Tetilla fundido con Rodajas de Tomate</span>
            </div>
            <div class="alimento">
              <span>Coca de Anchoas con Pimiento Rojo, Berenjenas y Pan con Tomate</span>
            </div>
            <div class="alimento">
              <span>Coca de Berenjena con Pimineto Rojo, Queso Brie Fundido y Pan con Tomate</span>
            </div>
            <div class="alimento">
              <span>Coca de Pimiento Rojo con Queso de Oveja Fundido y Pan con Tomate</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Enrollados de tortita</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="margin-bottom: 25px" class="input-group">
            <div class="alimento">
              <span>Butifarra con Queso y Roquefort</span>
            </div>
            <div class="alimento">
              <span>Franfurt con Bacon y Queso</span>
            </div>
            <div class="alimento">
              <span>Vegetal</span>
              <span style="font-size:75%"> ( Pimiento Rojo, Berenjena, Cebolla, Esparrago y Queso)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Biquinis Classicos</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="margin-bottom: 25px" class="input-group">
            <div class="alimento">
              <span>Clasico </span>
              <span style="font-size:75%"> ( Jamon York y Queso)</span>
            </div>
            <div class="alimento">
              <span>Tres Quesos</span>
            </div>
            <div class="alimento">
              <span>De Bacon</span>
              <span style="font-size:75%"> ( Jamon York, Queso y Bacon)</span>
            </div>
            <div class="alimento">
              <span>Serrano con Queso</span>
            </div>
            <div class="alimento">
              <span>Jamon York y Roquefort</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Biquini Tostado</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="margin-bottom: 25px" class="input-group">
            <div class="alimento">
              <span>1. Jamón dulce, queso, lechuga, bonito y myonesa </span>
            </div>
            <div class="alimento">
              <span>2. Bonito, lechuga, pimiento rojo, olivas, anchoas y mayonesa</span>
            </div>
            <div class="alimento">
              <span>3. Bonito, pimiento rojo, huevo duro y mayonesa </span>
            </div>
            <div class="alimento">
              <span>4. Pechuga de pollo, tomate, huevo duro, lechuga y mayonesa</span>
            </div>
            <div class="alimento">
              <span>5. Pechuga de pollo, pimiento rojo, berenjena y mayonesa</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Pan de Flauta</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="margin-bottom: 25px" class="input-group">
            <div class="alimento">
              <span>Fuet de Vic</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Jamon Iberico</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Jamon Serrano "Bodega"</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Jamon York</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Queso de Oveja</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Bonito con Anchoas</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Anchoas con "Escalivada"</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Anchoas</span>
              <span style="font-size:75%"> ( Pan con tomate )</span>
            </div>
            <div class="alimento">
              <span>Salmon Ahumado con Queso y Huevo Duro</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Xapata Redondo</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <div style="margin-bottom: 25px" class="input-group">
            <div class="alimento">
              <span>Pepito</span>
              <span style="font-size:75%"> ( Solomillo de Ternera )</span>
            </div>
            <div class="alimento">
              <span>Pepito con Roquerfort</span>
            </div>
            <div class="alimento">
              <span>Pepito Jardinera con Tomate, Lechuga y Pepinillo</span>
            </div>
            <div class="alimento">
              <span>Pepito con Cebolla</span>
            </div>
            <div class="alimento">
              <span>Pepito con Pimiento Verde</span>
            </div>
            <div class="alimento">
              <span>Ternera</span>
              <span style="font-size:75%"> ( Redondo )</span>
            </div>
            <div class="alimento">
              <span>Ternera con Roquerfort</span>
            </div>
            <div class="alimento">
              <span>Ternera con Queso elemental y Cebolla</span>
            </div>
            <div class="alimento">
              <span>Ternera Completa</span>
              <span style="font-size:75%"> ( Jardinera con Queso y Cebolla )</span>
            </div>
            <div class="alimento">
              <span>Ternera con Pimiento Verde, Jamon Serrano y mayonesa</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa con Roquefort</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa con Queso y Cebolla</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Completa</span>
              <span style="font-size:75%"> ( Jardinera, Queso y Cebolla )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa con Bacon y Queso</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Hawai</span>
              <span style="font-size:75%"> ( Bacon, Piña y salsa rosa )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Texas</span>
              <span style="font-size:75%"> ( Picante con Pimiento Rojo )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Casera de Pollo</span>
              <span style="font-size:75%"> ( 200grms. Jardinera y mahonesa o Bacon y Queso )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Americana Hawai</span>
              <span style="font-size:75%"> ( Bacon, Piña y salsa rosa )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Americana Completa</span>
              <span style="font-size:75%"> ( Jaradinera con Queso y Cebolla )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Americana</span>
              <span style="font-size:75%"> ( 200grms. 100% Vedella )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Americana con Roquefort</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Americana Jardinera</span>
              <span style="font-size:75%"> ( Lechuga, Tomate y Pepinillo )</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Americana con Cebolla y Queso</span>
            </div>
            <div class="alimento">
              <span>Hamburguesa Americana con Bacon y Queso</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>