<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Pica-Pica</h3>
      <div class="alimento">
        <span>Chorizos del Infierno Picante</span>
      </div>
      <div class="alimento">
        <span>Esparragos Trigueros a la Planxa</span>
      </div>
      <div class="alimento">
        <span>Butifarra con Cebolla y salsa Picante</span>
      </div>
      <div class="alimento">
        <span>Calamares a la Andaluza con Mayonesa</span>
      </div>
      <div class="alimento">
        <span>Alitas de Pollo Adobadas (con salsa Barbacoa) </span>
      </div>
      <div class="alimento">
        <span>Jalapeños Rellenos de Queso (con salsa Barbacoa o salsa Brava)</span>
      </div>
      <div class="alimento">
        <span>Aros de Cebolla (con salsa Barbacoa)</span>
      </div>
      <div class="alimento">
        <span>Pimientos del Patron</span>
      </div>
      <div class="alimento">
        <span>Tiras de Pollo Rebozadas (con 2 salsas a Elegir)</span>
      </div>
      <div class="alimento">
        <span>Nuguets de Pollo (con salsa Barbacoa)</span>
      </div>
      <div class="alimento">
        <span>Plato de Jamon Serrano (con Pan con Tomate</span>
      </div>
      <div class="alimento">
        <span>Taquitos de Queso con Aceite de Oliva</span>
      </div>
      <div class="alimento">
        <span>Pinchos al Plato</span>
      </div>
      <div class="alimento">
        <span>Taquitos de Solomillo a la Plancha (con Pan con Tomate)</span>
      </div>
      <div class="alimento">
        <span>Racion de Patatas Fritas*</span>
        <span style="font-size: 75% "> Se puede añadir cualquier salsa por un pequeño suplemento</span>
      </div>
      <div class="alimento">
        <span>Plato de Jamon Iberico</span>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Ensaladas</h3>
      <div class="alimento">
        <span>De aguacate</span>
        <span style="font-size: 75%">Langostinos , Tomate, Cebolla, Maiz Dulce, Pimiento Verde, Aguacate con Vinagreta</span>
      </div>
      <div class="alimento">
        <span>Griega</span>
        <span style="font-size: 75%">Tomate, Queso feta y Oregano</span>
      </div>
      <div class="alimento">
        <span>Tropical</span>
        <span style="font-size: 75%">Lechuga, Piña, Maiz Dulce, Langostinos, Patas de Cangrejo, Jamon York, Salsa Rosa</span>
      </div>
      <div class="alimento">
        <span>De Pasta</span>
        <span style="font-size: 75%">Rizados tricolor, Bonito, Queso, Jamon York, Lechuga y salsa tàrtara</span>
      </div>
      <div class="alimento">
        <span>Cesar</span>
        <span style="font-size: 75%">Lechuga, Pollo, Queso Rallado, Pan tostado y salsa mostaza</span>
      </div>
    </div>
  </div>
    <div class="col-md-6">
      <div class="col-md-6">
        <h3>Xapata Redondo</h3>
        <div class="alimento">
          <span>Pepito (Solomillo de Ternera)</span>
        </div>
        <div class="alimento">
          <span>Pepito con Roquerfort</span>
        </div>
        <div class="alimento">
        <span>Pepito Jardinera con Tomate, Lechuga y Pepinillo</span>
        </div>
        <div class="alimento">
          <span>Pepito con Cebolla</span>
        </div>
        <div class="alimento">
          <span>Pepito con Pimiento Verde</span>
        </div>
        <div class="alimento">
          <span>Ternera (Redondo)</span> 
        </div>
        <div class="alimento">
          <span>Ternera con Roquerfort</span>
        </div>
        <div class="alimento">
          <span>Ternera con Queso elemental y Cebolla</span>
        </div>
        <div class="alimento">
          <span>Ternera Completa</span> 
          <span style="font-size:75%">(Jardinera con Queso y Cebolla)</span>
        </div>
        <div class="alimento">
          <span>Ternera con Pimiento Verde, Jamon Serrano y mayonesa</span>        
        </div>
        <div class="alimento">
          <span>Hamburguesa</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa con Roquefort</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa con Queso y Cebolla</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Completa</span>
          <span style="font-size:75%"> (Jardinera, Queso y Cebolla)</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa con Bacon y Queso</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Hawai</span>
          <span style="font-size:75%"> (Bacon, Piña y salsa rosa)</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Texas</span> 
          <span style="font-size:75%"> (Picante con Pimiento Rojo)</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Casera de Pollo</span>
          <span style="font-size:75%"> (200grms. Jardinera y mahonesa o Bacon y Queso</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Americana Hawai</span>
          <span style="font-size:75%"> (Bacon, Piña y salsa rosa)</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Americana Completa</span>
          <span style="font-size:75%"> (Jaradinera con Queso y Cebolla)</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Americana</span>
          <span style="font-size:75%"> (200grms. 100% Vedella)</span>
        </div>
        <div class="alimento">
          <span>Hamburguesa Americana con Roquefort</span>
        </div>
        <div class="alimento">
          <span></span>
        </div>
        <div class="alimento">
          <span></span>
        </div>
      </div>
  </div>
</div>