<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="error">404 Error</h1>
                        <img src="https://previews.123rf.com/images/topvectors/topvectors1705/topvectors170500728/78105435-gracioso-llorando-y-gritando-hamburguesa-ilustraci%C3%B3n-de-vector-de-personaje-emoji-de-comida-r%C3%A1pida-de-dib.jpg"
                            id="hamb" alt="Hamburgesa">
                    <h4>Oops! Esta pagina no se ha podido encontrar!</h4>
                    <p>Lo sentimos pero esta pagina debe estar comiendo para poder oferecer sus servicios mas adelante</p>
                    <button class="btn btn-primary btn-round" id="botoncitoError" (click)="onclick()">Volver
                        Atras</button>
                </div>
            </div>
        </div>
    </div>
</div>