<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="error">404 Error</h1>
                        <img src="../../../assets/images/hamburgesa.png"
                            id="hamb" alt="Hamburgesa">
                    <h3>Oops! Esta pagina no se ha podido encontrar!</h3>
                    <h5>Lo sentimos pero esta pagina debe estar comiendo para poder oferecer sus servicios mas adelante</h5>
                    <button class="btn btn-primary btn-round" id="botoncitoError" (click)="onclick()"><h6>Volver Atras </h6></button>
                </div>
            </div>
        </div>
    </div>
</div>