<div class="containter">
    <div class="col-md-12 control">
        <div style="padding-top:15px; padding-left:16%; padding-right:16% ">
            <h1 id="tituloPagina"><b>Perfil</b></h1>
            <label id="Descripcion"><i>Aqui podras ver todas tus reservas como tus comentarios hacia nosotros! Tambien
                    podras cambiar informacion de tu usuario o dar te de baja de nuestra web
                </i></label>
        </div>
    </div>
    <div id="updatebox" style="margin-top:25px;" class="mainbox col-md-5 ">
        <div class="panel panel-info formu">
            <div class="panel-heading formu">
                <div class="panel-title">Actualizar Datos</div>
            </div>
            <div style="padding-top:15px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form class="form-horizontal" role="form" #userUpdateFrom="ngForm" (submit)="onSubmit()" method="post">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control"
                            required>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.lastname"
                            class="form-control" required />
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control"
                            required />
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <input type="submit" name="" value="Actualizar Datos" class="btn btn-primary botones">
                            <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
                        </div>
                        <div class="col-sm-6 controls" id="DarBaja">
                            <input type="button" (click)="darBaja()" name="" value="Dar-se de Baja"
                                class="btn btn-danger">
                            <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin-top:25px;">
            <div *ngIf="!esAdmin" class="panel panel-primary formu">
                <div *ngIf="reservasVacios" class="panel-heading formu">
                    <h3 class="panel-title">Tus reservas</h3>
                    <div class="pull-right">
                    </div>
                </div>
                <div *ngIf="!reservasVacios" class="panel-heading formu">
                    <h3 class="panel-title">No tienes ninguna reserva? Porque no hacer la primera!</h3>
                    <h5 class="panel-title" id="linkComment"><a routerLink="../reserva">Reserva!</a></h5>
                    <div class="pull-right">
                    </div>
                </div>
                <table *ngIf="reservasVacios" class="table table-hover tabla" id="dev-table">
                    <thead>
                        <th>Fecha</th>
                        <th>Turno</th>
                        <th>Personas</th>
                        <th></th>
                    </thead>
                    <tbody *ngFor="let element of reservaPorId">
                        <tr>
                            <td>{{element.fecha}}</td>
                            <td *ngIf="element.turno1">Turno 1</td>
                            <td *ngIf="element.turno2">Turno 2</td>
                            <td *ngIf="element.turno3">Turno 3</td>
                            <td *ngIf="element.turno4">Turno 4</td>
                            <td>{{element.people}}</td>
                            <td><button (click)="eliminarReserva(element._id)" class="btn btn-danger">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="esAdmin" class="panel panel-primary formu">
                <div class="panel-heading formu">
                    <h3 class="panel-title">Todas reservas</h3>
                    <div class="pull-right">
                    </div>
                </div>
                <table class="table table-hover tabla" id="dev-table">
                    <thead>
                        <th>Mesa</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Turno</th>
                        <th>Personas</th>
                        <th></th>
                    </thead>
                    <tbody *ngFor="let element of reservas">
                        <tr>
                            <td>{{element.id_table}}</td>
                            <td>{{element.id_user}}</td>
                            <td>{{element.fecha}}</td>
                            <td *ngIf="element.turno1">Turno 1</td>
                            <td *ngIf="element.turno2">Turno 2</td>
                            <td *ngIf="element.turno3">Turno 3</td>
                            <td *ngIf="element.turno4">Turno 4</td>
                            <td>{{element.people}}</td>
                            <td><button (click)="eliminarReserva(element._id)" class="btn btn-danger">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:25px;">
            <div *ngIf="!esAdmin" class="panel panel-primary formu">
                <div *ngIf="!comentsVacios" class="panel-heading formu">
                    <h3 class="panel-title">No tienes ningun comentario? Porque no nos dejas tu opinion!</h3>
                    <h5 class="panel-title" id="linkComment"><a routerLink="../el-restaurante">Comenta!</a></h5>
                    <div class="pull-right">
                    </div>
                </div>
                <div *ngIf="comentsVacios" class="panel-heading formu">
                    <h3 class="panel-title">Tus Comentarios</h3>
                    <div class="pull-right">
                    </div>
                </div>
                <table *ngIf="comentsVacios" class="table table-hover tabla" id="dev-table">
                    <thead>
                        <th>Fecha</th>
                        <th>Puntuacion</th>
                        <th></th>
                    </thead>
                    <tbody *ngFor="let element of commentariosUser">
                        <tr>
                            <td>{{element.fecha}}</td>
                            <td>{{element.puntuacion}}</td>
                            <td><button (click)="eliminarCommentario(element._id)"
                                    class="btn btn-danger">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="esAdmin" class="panel panel-primary formu">
                <div class="panel-heading formu">
                    <h3 class="panel-title">Todas los comentarios</h3>
                    <div class="pull-right">
                    </div>
                </div>
                <table class="table table-hover tabla" id="dev-table">
                    <thead>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Puntuacion</th>
                        <th></th>
                    </thead>
                    <tbody *ngFor="let element of commentarios">
                        <tr>
                            <td>{{element.id_user}}</td>
                            <td>{{element.fecha}}</td>
                            <td>{{element.puntuacion}}/10</td>
                            <td><button (click)="eliminarCommentario(element._id)"
                                    class="btn btn-danger">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>