<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h1>{{titulo}}</h1>
                <div *ngIf="alertRegister">
                    <div class="alert alert-info">
                        {{alertRegister}}
                    </div>
                </div>
                <form #userUpdateFrom="ngForm" (submit)="onSubmit()" method="post">
                    <p>
                        <label>Nombre: </label>
                        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control"
                            required>
                        <span *ngIf="!name.valid && name.touched">
                            El name es obligatorio
                        </span>
                    </p>
                    <p>
                        <p>
                            <label>Apellidos: </label>
                            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.lastname"
                                class="form-control" required />
                            <span *ngIf="!surname.valid && surname.touched">
                                El Apellido es obligatorio
                            </span>
                        </p>
                        <p>
                            <label>Correo Electronico: </label>
                            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email"
                                class="form-control" required />
                            <span *ngIf="!email.valid && email.touched">
                                El email es obligatorio
                            </span>
                        </p>
                        <input type="submit" name="" value="Actualizar Datos" class="btn btn-primary">
                </form>
            </div>
            <div *ngIf="!esAdmin" class="col-md-6">
                <h1>Tus reservas</h1>
                <table>
                    <thead>
                        <th>Fecha</th>
                        <th>Turno</th>
                        <th>Personas</th>
                        <th></th>
                    </thead>
                    <tbody *ngFor="let element of reservaPorId">
                        <tr>
                            <td>{{element.fecha}}</td>
                            <td *ngIf="element.turno1">Turno 1</td>
                            <td *ngIf="element.turno2">Turno 2</td>
                            <td *ngIf="element.turno3">Turno 3</td>
                            <td *ngIf="element.turno4">Turno 4</td>
                            <td>{{element.people}}</td>
                            <td><button (click)="eliminarReserva(element._id)">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="esAdmin" class="col-md-6">
                <h1>Todas las reservas</h1>
                <table>
                    <thead>
                        <th>Numero Mesa</th>
                        <th>Email usuario</th>
                        <th>Fecha</th>
                        <th>Turno</th>
                        <th>Personas</th>
                        <th></th>
                    </thead>
                    <tbody *ngFor="let element of reservas">
                        <tr>
                            <td>{{element.id_table}}</td>
                            <td>{{element.id_user}}</td>
                            <td>{{element.fecha}}</td>
                            <td *ngIf="element.turno1">Turno 1</td>
                            <td *ngIf="element.turno2">Turno 2</td>
                            <td *ngIf="element.turno3">Turno 3</td>
                            <td *ngIf="element.turno4">Turno 4</td>
                            <td>{{element.people}}</td>
                            <td><button (click)="eliminarReserva(element._id)">Borrar</button></td>
                            <!--Boton para eliminar una reserva, nose como cojer el id pero bueno soy feliz-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>