<div class="containter">
  <div class="col-md-12 control">
    <div style="padding-top:15px; padding-left:26%; padding-right:26% ">
      <h1 id="tituloPagina"><b>Identificate</b></h1>
      <label id="Descripcion"><i>Si ya es usuario inicie sesion y si es un nuevo usuario registrese para poder reservar
          online una mesa para cuando y donde quieras
        </i></label>
      <label id="Descripcion"><i>Si aun no has iniciado sesion no podras reservar ninguna mesa!!</i></label>
    </div>
  </div>

  <div class="col-md-6" *ngIf="errorMessage" id="mensajeError">
    <div class="alert alert-danger" id="alerta" role="alert">
      <h4>Algo a fallado!</h4>
      {{errorMessage}}
    </div>
  </div>
  <div class="col-md-6" *ngIf="errorRegister" id="mensajeError">
    <div class="alert alert-danger" id="alerta" role="alert">
      <h4>Algo a fallado!</h4>
      {{errorRegister}}
    </div>
  </div>
  <div class="col-md-6" *ngIf="usuarioExiste" id="mensajeError">
    <div class="alert alert-danger" id="alerta" role="alert">
      <h4>Algo a fallado!</h4>
      {{usuarioExiste}}
    </div>
  </div>
  <div class="col-md-6" *ngIf="loginNotGood" id="mensajeError">
    <div class="alert alert-danger" id="alerta" role="alert">
      <h4>Oops!</h4>
      {{loginNotGood}}
    </div>
  </div>
  <div class="col-md-6" *ngIf="usuarioCreado" id="mensajeOk">
    <div class="alert alert-success" id="alerta" role="alert">
      <h4>Perfecto!</h4>
      {{usuarioCreado}}
    </div>
  </div>
  <div id="loginbox" style="margin-top:25px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info formu">
      <div class="panel-heading formu">
        <div class="panel-title">Iniciar Sesion</div>
      </div>

      <div style="padding-top:15px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form class="form-horizontal" role="form" #loginForm="ngForm">
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required
              placeholder="email">
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control"
              required placeholder="password">
          </div>

          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <button (click)="iniciarSesion()" class="btn btn-primary botones">Entrar</button>
              <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                No tienes una cuenta?
                <a onClick="$('#loginbox').hide(); $('#signupbox').show()">
                  <button class="botones-opcion" (click)="reiniciarVariables()">Registrate Aqui</button>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div id="signupbox" style="display:none; margin-top:25px"
    class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info formu">
      <div class="panel-heading formu">
        <div class="panel-title">Registrate</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink"
            onclick="$('#signupbox').hide(); $('#loginbox').show()"><button class="botones-opcion"
              (click)="reiniciarVariables()">Inicia Sesion</button></a>
        </div>
      </div>
      <div class="panel-body">
        <form id="signupform" class="form-horizontal" role="form" #registerFrom="ngForm" (submit)="onSubmitRegister()"
          method="post">

          <div id="signupalert" style="display:none" class="alert alert-danger">
            <p>Error:</p>
            <span></span>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control"
                required />
            </div>
          </div>
          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">Nombre</label>
            <div class="col-md-9">
              <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control"
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Apellido</label>
            <div class="col-md-9">
              <input type="text" #lastname="ngModel" name="lastname" [(ngModel)]="user_register.lastname"
                class="form-control" required />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"
                class="form-control" required />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <input type="submit" name="" value="Registrar" class="btn btn-primary botones">
            </div>
          </div>
          <!--
            <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up
                with Facebook</button>
            </div>
            </div>
          -->
        </form>
      </div>
    </div>
  </div>