.row{
    margin: 1% !important;
}

.info{
    font-size: 75%;
    margin-left: 2%;
}

.formu{
    background-color: #FBEADA ;
    border-color: #FBEADA;
}

.form-control:hover{
    border-color: #FBEADA !important;
}

.botones{
    background-color: black !important;
    color: #FBEADA;
    border-radius: 5px;
    text-decoration: none;
}

.panel-title{
    color: black !important;
}

#mensajeError{
    margin-left: 25%;
    margin-bottom: -2%;
}

.nav[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:focus, .nav[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:hover{
    color: #FBEADA !important;
}

.botones-opcion{
    background-color: black !important;
    color: #FBEADA;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px !important;
}

#mensajeOk{
    margin-top:1%;
}

#tituloPagina{
    font-family: 'Open Sans', sans-serif;
}

#Descripcion{
    font-family: 'Open Sans', sans-serif !important;
    width: 77%;
}

.panel-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
}