<div class="containter">
  <div class="col-md-12 control">
    <div style="padding-top:15px; padding-left:26%; padding-right:26% ">
      <h3>Bienvenido a la pestaña de Reservas</h3>
      <h6>Con los siguientes 3 pasos podras reservar una mesa en nuestro restaurante</h6>
      <label>1-Introduce la fecha </label> <br>
      <label>2-Introduce el turno </label>
      <label>3-Clicka la mesa deseada, introduce las personas que cenaran en la mesa reservada </label>
      <label>Y a disfrutar de la comida</label>
    </div>
  </div>
  <div id="reservaBox" style="margin-top:25px;" class="mainbox col-md-4 ">
    <div class="panel panel-info formu">
      <div class="panel-heading formu">
        <div class="panel-title">Introduce El Dia</div>
      </div>
      <div style="padding-top:15px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form class="form-horizontal" role="form" #userUpdateFrom="ngForm" (submit)="onSubmit()" method="post">
          <div style="margin-bottom: 25px" class="input-group">
            <input type="text" id="datepicker" placeholder="Introduce una Fecha">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="turnoBox" style="margin-top:25px;" class="mainbox col-md-4 ">
    <div class="panel panel-info formu">
      <div class="panel-heading formu">
        <div class="panel-title">Introduce el Turno</div>
      </div>
      <div style="padding-top:15px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form class="form-horizontal" role="form" #userUpdateFrom="ngForm" (submit)="onSubmit()" method="post">
          <div style="margin-bottom: 25px" class="input-group">
            <form action="#n" name="theForm">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="Turno1" value="Turno1">
                  Turno1
                </label>
              </div>
              <div class="radio-inline" id="Turno2">
                <label>
                  <input type="radio" name="optionsRadios" id="Turno2" value="Turno2">
                  Turno2
                </label>
              </div>
              <div class="radio-inline" id="Turno3">
                <label>
                  <input type="radio" name="optionsRadios" id="Turno3" value="Turno3">
                  Turno3
                </label>
              </div>
              <div class="radio-inline" id="Turno4">
                <label>
                  <input type="radio" name="optionsRadios" id="Turno4" value="Turno4">
                  Turno4
                </label>
              </div>
              <button id="butonFecha" id="identificate" (click)="submitForm()">Buscar</button>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="buscando" id="blocreserva" class="col-md-8">
        <h2>Elige una Mesa</h2>
        <div class="col-md-12">
          <table>
            <thead>
              <tr>
                <th>Entrada</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Ventana</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <div class="primeraFila" *ngFor="let element of mesasPrimeraFila">
                  <button *ngIf="!element.ocupada && element.maxPersons == 2" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/Mesa.jpg"
                      alt="Mesa Desocupada de 2"></button>
                  <button *ngIf="element.ocupada && element.maxPersons == 2" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/MesaOcupada.jpg"
                      alt="Mesa Ocupada de 2"></button>
                  <button *ngIf="!element.ocupada && element.maxPersons == 8" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/Mesaocho.jpg"
                      alt="Mesa Desocupada de 8"></button>
                  <button *ngIf="element.ocupada && element.maxPersons == 8" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/MesaOcupada8.jpg"
                      alt="Mesa Ocupada de 8"></button>
                </div>
              </tr>
              <tr>
                <th></th>
                <div class="primeraFila" *ngFor="let element of mesasSegundaFila">
                  <button *ngIf="!element.ocupada && element.maxPersons == 10" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/Mesadiez.jpg"
                      alt="Mesa Desocupada de 10"></button>
                  <button *ngIf="element.ocupada && element.maxPersons == 10" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/Mesaocupada10.jpg"
                      alt="Mesa Ocupada de 10"></button>
                </div>
              </tr>
              <tr>
                <th>Lavabo</th>
                <div class="primeraFila" *ngFor="let element of mesasTerceraFila">
                  <button *ngIf="!element.ocupada && element.maxPersons == 6" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/Mesaseis.jpg"
                      alt="Mesa Desocupada de 6"></button>
                  <button *ngIf="element.ocupada && element.maxPersons == 6" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/MesaOcupada6.jpg"
                      alt="Mesa Ocupada de 6"></button>
                  <button *ngIf="!element.ocupada && element.maxPersons == 4" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/Mesa4.jpg"
                      alt="Mesa Desocupada de 4"></button>
                  <button *ngIf="element.ocupada && element.maxPersons == 4" class="mesa" value="{{element._id}}"
                    (click)="Abrirreservar(element._id)"><img src="../../../assets/images/MesaOcupada4.jpg"
                      alt="Mesa Ocupada de 4"></button>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="containter" *ngIf="abrirReserva">
  <div id="confirmarBox" style="margin-top:25px;" class="mainbox col-md-6 ">
    <div class="panel panel-info formu">
      <div class="panel-heading formu">
        <div class="panel-title">Confirma la Reserva</div>
      </div>
      <div style="padding-top:15px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form #reservaForm="ngForm" class="form-horizontal" role="form">
          <p>
            <label>Numero de personas:</label>
            <input type="text" name="number" [(ngModel)]="crearreserva.people" class="form-control" required />
          </p>
          <input type="button" id="identificate" value="Reservar" (click)="onSubmit()" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="containter" *ngIf="esAdmin">
  <div id="confirmarBox" style="margin-top:25px;" class="mainbox col-md-6 ">
    <div class="panel panel-info formu">
      <div class="panel-heading formu">
        <div class="panel-title">Crear Mesa</div>
      </div>
      <div style="padding-top:15px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form #mesaForm="ngForm">
          <p>
            <label>Numero Maximo de personas:</label>
            <input type="text" name="password" value="" [(ngModel)]="mesaNueva.maxPersons" class="form-control"
              required />
          </p>
          <p>
            <label>Numero de la Mesa:</label>
            <input type="text" name="password" value="" [(ngModel)]="mesaNueva.numberTable" class="form-control"
              required />
          </p>
          <input type="button" value="Crear" id="identificate" (click)="crearMesa()" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>