<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <h2>Reserva</h2>
        <table>
          <tbody>
            <td *ngFor="let element of mesas">
              <button *ngIf="!element.ocupada" value="{{element._id}}" (click)="Abrirreservar(element._id)"><img
                  src="../../../assets/images/Mesa.jpg" alt="Mesa Desocupada"></button>
              <button *ngIf="element.ocupada" value="{{element._id}}"><img
                  src="../../../assets/images/MesaOcupada.jpg" alt="Mesa Ocupada"></button>
            </td>
          </tbody>
        </table>
      </div>
      <div *ngIf="abrirReserva"  class="col-md-6">
        <h3>Confirmar Reserva</h3>
        <form #reservaForm="ngForm">
          <p>
            <label>Dia y hora</label>
            <input type="text" name="date" [(ngModel)]="crearreserva.date" class="form-control" required />
          </p>
          <p>
            <label>Numero de personas:</label>
            <input type="text" name="password" [(ngModel)]="crearreserva.people" class="form-control" required />
          </p>
          <input type="button" value="Reservar" (click)="onSubmit()" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>