
#barra{
    background-color: #FFE482 !important;
}

div > a{
    color:black !important;
}

li > a{
    color:black !important;
}

li > a:hover{
    background-color: #EBDFA2 !important;
}

#navBar{
    width: 90%;
    margin-left: 9%;
    margin-top: -1%;

}
