
#barra{
    background-color: white !important;
}

div > a{
    color:black !important;
}

li > a{
    color:black !important;
}

li > a:hover{
    color: #FFD3A7 !important;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: white;
}

#navBar{
    width: 90%;
    margin-left: 9%;
    margin-top: -1%;
}

#hamburger{
    top: 12px !important;
}

#cerrarSesion{
    padding-top: 8px;
}

@media screen and (max-width: 770px) {
    #barra {
      padding-bottom: 3%;
    }
    #cerrarSesion{
        padding-top: 0px;
    }
  }

  .nav[_ngcontent-c1] > li[_ngcontent-c1] > a[_ngcontent-c1]:focus, .nav[_ngcontent-c1] > li[_ngcontent-c1] > a[_ngcontent-c1]:hover{
    color: #F4A509 !important;
}