<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-12 control">
          <div style="padding-top:15px; padding-left:5%; padding-right:5% ">
            <h2>Bienvenido a contacto</h2>
            <label>Aqui podras ponerte en contacto con la empresa y saber en que forma encontrarnos
            </label>
          </div>
        </div>
        <div id="updatebox" style="margin-top:25px;" class="mainbox col-md-6 ">
          <div class="panel panel-info formu">
            <div class="panel-heading formu">
              <div class="panel-title">Contacto</div>
            </div>
            <div style="padding-top:15px" class="panel-body">
              <div class="input-group col-sm-4">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.612722170532!2d2.094866315431046!3d41.555981879249074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a494e5e973ae33%3A0x51246798c81ba32a!2sChumi+Churri+Sabadell!5e0!3m2!1ses!2ses!4v1553873327853!5m2!1ses!2ses"
                  width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <div class="alert alert-danger col-sm-4" id="info">
                <h2 id="titulocontacto">Informacion</h2>
                <address>
                  <strong>Adreça:</strong><br>
                  <strong>Av. de Francesc Macià, 39-41</strong><br>
                  08208 Sabadell, Barcelona<br>
                  <strong>E-Mail:</strong><br>
                  adminChumy@gmail.com<br>
                  <strong>Telefono:</strong><br>
                  617 15 32 98<br>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

      <div class="col-md-6">
        <div class="well well-sm">
          <form class="form-horizontal" action="mailto:dninmur@gmail.com" method="post" enctype="text/plain">
            <fieldset>
              <legend class="text-center header">Envianos tu opinion personal</legend>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  <input id="fname" name="nombre" type="text" placeholder="Nombre" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  <input id="lname" name="apellido" type="text" placeholder="Apellido" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8">
                  <textarea class="form-control" id="message" name="message"
                    placeholder="Introduce aqui el mensaje que quieras dejarnos..."
                    rows="7"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      -->