<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.612722170532!2d2.094866315431046!3d41.555981879249074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a494e5e973ae33%3A0x51246798c81ba32a!2sChumi+Churri+Sabadell!5e0!3m2!1ses!2ses!4v1553873327853!5m2!1ses!2ses"
          width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <div class="well well-sm">
          <form class="form-horizontal" action="mailto:daviiidniiin@gmail.com" method="post" enctype="text/plain">
            <fieldset>
              <legend class="text-center header">Envianos tu opinion personal</legend>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  <input id="lname" name="name" type="text" placeholder="Apellido" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8">
                  <textarea class="form-control" id="message" name="message"
                    placeholder="Introduce aqui el mensaje que quieras dejarnos..."
                    rows="7"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
