<!--Carrousel que metere con boostrap el cual tendre que personalizar para que quepa bien en mi pagina-->
<div id="carrousel">
  
</div>

<div id="tripadvisor-icono">
    <div id="TA_socialButtonBubbles700" class="TA_socialButtonBubbles"><ul id="goKeo0p" class="TA_links xiaVuL"><li id="9hurVCm0L" class="kxoSap"><a target="_blank" href="https://www.tripadvisor.es/Restaurant_Review-g227870-d4063527-Reviews-Chimi_Churri-Sabadell_Catalonia.html"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/socialWidget/20x28_white-21693-2.png"/></a></li></ul></div>
</div>