
#barra{
    background-color: white !important;
}

div > a{
    color:black !important;
}

li > a{
    color:black !important;
}

li > a:hover{
    color: #F4A509 !important;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: white;
}


#identificate{
    background-color: #FFD3A7 !important; 
    color: black;
    border: 0px solid black;
}

#navBar{
    width: 90%;
    margin-left: 9%;
    margin-top: -1%;
}

#logo{
    float: right !important;
    margin-top: -1%;
}

#hamburger{
    top: 12px !important;
}

@media screen and (max-width: 770px) {
    #barra {
      padding-bottom: 3%;
    }
  }

  .nav[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:focus, .nav[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:hover{
    color: #F4A509 !important;
}