body { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #F9F3ED; background-color: #FBEADA !important}
.widget li.list-group-item:hover { background-color: #F9F3ED !important; }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.panel-default>.panel-heading{
    background-color: #FBEADA;
    border-color: #FBEADA;
}

#imagen{
    margin-right: 1%;
}


.formu{
    background-color: #FBEADA ;
    border-color: #FBEADA;
}

.form-control:hover{
    border-color: #FBEADA !important;
}

.botones{
    background-color: black !important;
    color: #FBEADA;
    border-radius: 5px;
    text-decoration: none;
}

.panel-title{
    color: black !important;
}

.tabla th{
    text-align: center;
}
.tabla td{
    text-align: center;
}


.containter{
    margin-left:6%;
}

.row{
    margin-right: 0%;
}

#DarBaja{
    text-align: right;
}

.input-group{
    margin-bottom: 1% !important;
}

.alert{
    font-size: 75%;
    padding: 5px;
}

#alerta{
    font-size: 100%;
    margin-bottom: 1%;
}

#TA_selfserveprop120{
    margin-top: -6%;
}

#tituloPagina{
    font-family: 'Open Sans', sans-serif;
}

#Descripcion{
    font-family: 'Open Sans', sans-serif !important;
}

.panel-heading{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
}

.panel-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
}