<div id="tripadvisor-coments">  
    <div id="TA_selfserveprop158" class="TA_selfserveprop"><ul id="QIiQ1z0wCqH" class="TA_links WnU8quX"><li id="8OXMhFxgkOt" class="ayzJF0z"><a target="_blank" href="https://www.tripadvisor.es/"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a></li></ul></div>
</div>

<div id="tripadvisor-1">
    <div id="TA_cdswritereviewlg219" class="TA_cdswritereviewlg"><ul id="k3f1ywH" class="TA_links OePPIUfmfSwz"><li id="zdn7bz" class="hciBlKi"><a target="_blank" href="https://www.tripadvisor.es/"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor"/></a></li></ul></div>
</div>